<div class="box">
  <div class="row">
    <div class="col-6">
      <div class="container">
        <h1>Reactive Forms</h1>
        <form action="action_page.php" [formGroup]="signupForm">
          <div>
            <label class="text-dark" for="fname">First Name</label>
            <input
              type="text"
              name="firstname"
              formControlName="firstname"
              class="form-control"
              placeholder="Your name.."
              aria-describedby="emailHelp"
            />
            <small
              class="form-text text-muted"
              *ngIf="
                errorshow['firstname'].touched && errorshow['firstname'].invalid
              "
              >firstname required</small
            >
          </div>

          <div>
            <label class="text-dark" for="lname">Last Name</label>
            <input
              type="text"
              name="lastname"
              formControlName="lastname"
              class="form-control"
              placeholder="Your last name.."
            />
            <small
              class="form-text text-muted"
              *ngIf="
                errorshow['lastname'].touched && errorshow['lastname'].invalid
              "
              >lastname required</small
            >
          </div>

          <div>
            <label class="text-dark" for="email">Email</label>
            <input
              type="email"
              name="email"
              formControlName="email"
              class="form-control"
              placeholder="Your email.."
            />
            <small
              class="form-text text-muted"
              *ngIf="errorshow['email'].touched && errorshow['email'].invalid"
              >email required</small
            >
          </div>

          <div class="d-flex">
            <label class="text-dark" for="gender">Gender :</label>
            <div>
              <a>
                <input
                  type="radio"
                  name="gender"
                  value="male"
                  id="male"
                  formControlName="gender"
                />
                <label class="form-check-label" class="text-dark" for="male"
                  >Male</label
                >
              </a>
            </div>
            <div>
              <a>
                <input
                  type="radio"
                  name="gender"
                  value="female"
                  id="female"
                  formControlName="gender"
                />
                <label class="text-dark" for="female">Female</label>
              </a>
            </div>
          </div>

          <label class="text-dark" for="phone">Enter your phone number:</label>
          <input
            type="text"
            id="phone"
            name="phone"
            formControlName="phone"
            minlength="10"
            class="form-control"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}-[0-9]{2}"
          />
          <small
            class="form-text text-muted"
            *ngIf="errorshow['phone'].touched && errorshow['phone'].invalid"
            >phone required</small
          ><br />

          <div formGroupName="address">
            <div>
              <label for="name">{{ country }}</label>
              <select
                aria-label="Default select example"
                name="country"
                id="country"
                class="form-select col-8"
                formControlName="country"
                (change)="changeCountry($event)"
              >
                <option selected>Select Country</option>
                <option
                  *ngFor="let country of countryList"
                  [value]="country.id"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>
            <div>
              <label for="name">{{ state }}</label>
              <select
                placeholder="Phantasyland"
                class="form-select col-8"
                aria-label="Default select example"
                name="state"
                id="state"
                formControlName="state"
                (change)="changeState($event)"
              >
                <option selected>Select State</option>
                <option *ngFor="let state of states" [value]="state.id">
                  {{ state.name }}
                </option>
              </select>
            </div>

            <div>
              <label for="name">{{ city }}</label>
              <select
                placeholder="Phantasyland"
                aria-label="Default select example"
                name="city"
                id="city"
                class="form-select col-8"
                formControlName="city"
              >
                <option selected>Select City</option>

                <option *ngFor="let city of citys" [value]="city.id">
                  {{ city.name }}
                </option>
              </select>
            </div>
          </div>

          <!-- <label for="country">Country</label>
        <select name="country" required>
          <option value="india">india</option>
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select> -->

          <div class="text-center">
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="datashow(signupForm.value)"
            >
              {{ submit }}
            </button>
          </div>
        </form>
        <br />
        <p class="text-center">Forms:{{ signupForm.status }}</p>
      </div>
    </div>
    <div class="col-6">
      <div class="table">
        <table>
          <tr>
            <th>id</th>
            <th>{{ firstname }}</th>
            <th>{{ lastname }}</th>
            <th>{{ email }}</th>
            <th>{{ gender }}</th>
            <th>{{ phone }}</th>
            <th>{{ country }}</th>
            <th>{{ state }}</th>
            <th>{{ city }}</th>
            <th>{{ edit }}</th>
            <th>{{ delete }}</th>
          </tr>

          <tr *ngFor="let object of array; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ object.firstname }}</td>
            <td>{{ object.lastname }}</td>
            <td>{{ object.email }}</td>
            <td>{{ object.gender }}</td>
            <td>{{ object.phone }}</td>
            <td>{{ object.address.country }}</td>
            <td>{{ object.address.state }}</td>
            <td>{{ object.address.city }}</td>

            <td>
              <button
                class="btn btn-outline-primary btn-lg"
                (click)="editdata(object)"
              >
                edit
              </button>
            </td>
            <td>
              <button
                class="btn btn-outline-danger btn-lg"
                (click)="BookDelete(i)"
              >
                delete
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
